/*id*/
#box_1 {
    flex-grow: 9;
}
#box_2 {
    text-align: center;
    height: fit-content;
}

#head_2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#dropdown {
    width: 100%;
    text-decoration: solid;
    color: white;
    flex-grow: 1;
}
#list-drop {
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    right: 0;
}
#list-drop a {
    text-decoration: solid;
    color: white;
    display: block;
    border-radius: 4px;
}

/*class*/
.header {
    display: flex;
    width: auto;
    padding: 10px;
    margin: 4px;
    background-color: cornsilk;
    border-radius: 8px;
    flex-direction: column;
    height: auto;
}
.head {
    flex-grow: 1;
    background-color: blanchedalmond;
    margin: 5px;
    border-radius: 8px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    text-align: center;
    background-image: url("asset/steak_image_edited.jpg");
    background-size: cover;
    background-position: 55% 45%;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: 5px;
    color: white;
}

.headnav {
    background-color: transparent;
}

li.list {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
}

.container {
    display: flex;
    width: auto;
    height: auto;
    background-color: cornsilk;
    border-radius: 8px;
    margin: 4px;
}
.box {
    flex-grow: 1;
    background-color: blanchedalmond;
    margin: 5px;
    border-radius: 8px;
}

.button {
    background-color: rgb(224, 155, 65);
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
}

.button:hover {
    background-color:rgb(243, 146, 20);
}

.button-drop {
    background-color: rgb(224, 155, 65);
    border: none;
    padding: 15px 45px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.button-drop:hover {
    background-color:rgb(243, 146, 20);
}

li.parent-drop {
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    list-style-type: none;
    height: 100%;
    width: 100%;
}

.article {
    list-style-type: none;
}

.p {
    font-size: larger;
    text-align: justify;
}

.profil {
    border-radius: 50%;
}

/*tag*/
body {
    background-color: bisque;
}

footer {
    font-style: italic;
    text-align: center;
    width: auto;
    padding: 20px;
    margin: 4px;
    border-radius: 8px;
    background-color: whitesmoke;
}

li {
    margin: 5px;
}

ul {
    padding: 0;
    height: 60px;
    margin: 4px 0 4px 0;
    width: 100%;
}

a {
    text-decoration: solid;
    color: white;
    flex-grow: 1;
}

img {
    width: 250px;
}

iframe {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}


::-webkit-scrollbar {
    width: 5px;
}


/*media query*/
@media screen and (max-width: 630px) {
    .container{
        flex-direction: column;
        flex-grow: 1;
    }
    .box{
        font-size: small;
    }
}

@media  screen and (max-width: 689px) {
    #head_2{
        flex-direction: column;
        flex-grow: 1;
    }
    ul {
        height: 100%;
    }
}

@media screen and (min-width: 910px) {
    li.parent-drop{
        display: none;
    }
    li.list{
        width: 100%;
    }
}

@media screen and (max-width: 910px) {
    li.list{
        display: none;
    }
    li.parent-drop{
        width: 100%;
    }
    #list-drop{
        display: none;
    }
}

@media screen and (max-width: 532px) {
    .jumbotron{
       background-size: cover;
       font-size: small;
    }
}
